#heading{
    color: rgb(167, 19, 167);
    text-align: center;
}
#para{
    font-size: 20px;
    color: green;
}
#home{
    color:crimson;
    font-family: Arial, Helvetica, sans-serif;
}
#about{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
#profile{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
#contact{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}